@font-face {
    font-family: Maison-Neue-Mono;
    src: url(../Font-family/FontsFree-Net-Maison-Neue-Mono.ttf);
}

@font-face {
    font-family: tt-norm-bold;
    src: url(../Font-family/TT\ Norms\ Pro\ Bold.otf);
}

@font-face {
    font-family: tt-norm-regular;
    src: url(../Font-family/TT\ Norms\ Pro\ Regular.otf);
}

.coming_soon_body {
    background-image: url(../images/Full-page-bg-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .frst-sec {
    background-image: url(../images/Header-bg-img_01.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 765px;
} */

.header-frst img {
    width: 80%;
}

.row {
    --bs-gutter-x: 0px !important;
}

/* .header-frst {
    height: 100vh;
} */

.header-head p {
    font-family: Maison-Neue-Mono;
    font-size: 32px;
    color: #0748ef;
    margin-top: 15px;
    margin-bottom: -8px;
    font-weight: 600;
}

.header-frst {
    margin-top: 80px;
}

.second-heading h3 {
    color: #c8f2fd;
    font-size: 56px;
    font-family: 'Maison-Neue-Mono';
    line-height: 1.2;
    margin: 35px 0px;
}

.thrd-heading h3 {
    color: #c8f2fd;
    font-size: 20px;
    font-family: tt-norm-bold;
    font-weight: 100;
    line-height: 1.4;
}

.thrd-heading h3 span {
    color: #a5c8d1;
    font-size: 20px;
    font-family: tt-norm-regular;
    font-weight: 100;
}

.thrd-heading {
    margin-bottom: 30px;
}

.list-intro ul li {
    color: #a5c8d1;
    font-size: 16px;
    font-family: tt-norm-regular;
    line-height: 2;
    margin-bottom: 20px;
    list-style: square;
}

/* .list-style-02 {
    margin-top: 35px;
} */
.btm-slide-btn {
    background-color: #0748ef;
    padding: 15px;
    border-radius: 45px;
    font-size: 18px;
    color: #a5c8d1;
    font-family: tt-norm-regular;
}

.btm-slide-btn {
    background-color: #0748ef;
    padding: 15px;
    border-radius: 45px;
    font-size: 18px;
    color: #a5c8d1;
    font-family: tt-norm-regular;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 25px;
}

.btm-slide-btn span {
    margin-left: 10px;
}

.list-01 {
    padding-right: 95px;
}

@media screen and (max-width:1024px) {
    .list-style-02 {
        margin-top: 65px;
    }

    .second-heading h3 {
        color: #c8f2fd;
        font-size: 40px;
        font-family: 'Maison-Neue-Mono';
        line-height: 1.2;
    }

    .header-head p {
        font-family: Maison-Neue-Mono;
        font-size: 28px;
        color: #0748ef;
        margin-top: 15px;
        margin-bottom: -8px;
        font-weight: 600;
    }

    .thrd-heading h3 {
        color: #c8f2fd;
        font-size: 16px;
        font-family: tt-norm-bold;
        font-weight: 100;
        line-height: 1.6;
    }

    .thrd-heading h3 span {
        color: #a5c8d1;
        font-size: 16px;
        font-family: tt-norm-regular;
        font-weight: 100;
    }
}

@media screen and (max-width:768px) {
    .header-frst img {
        width: 100%;
        margin-top: 13px;
    }

    .second-heading h3 {
        color: #c8f2fd;
        font-size: 32px;
        font-family: 'Maison-Neue-Mono';
        line-height: 1.2;
    }

    .list-style-02 {
        margin-top: 130px;
    }

    .header-head p {
        font-family: Maison-Neue-Mono;
        font-size: 20px;
        color: #0748ef;
        margin-top: 20px;
        margin-bottom: -11px;
        font-weight: 600;
    }

    .btm-slide-btn {
        background-color: #0748ef;
        padding: 20px;
        border-radius: 57px;
        font-size: 15px;
        color: #a5c8d1;
        font-family: tt-norm-regular;
        display: inline-block;
        margin-bottom: 25px;
    }


}

@media screen and (max-width:428px) {
    .list-01 {
        margin-left: 0px !important;
    }

    .btm-slide-btn {
        background-color: #0748ef;
        padding: 15px;
        border-radius: 46px;
        font-size: 14px;
        color: #a5c8d1;
        font-family: tt-norm-regular;
        margin-bottom: 25px;
        display: inline-block;
    }

    .list-style-02 {
        margin-top: 240px;
    }

    .header-frst img {
        width: 45%;
        margin-top: 13px;
    }

    .responsive_428 {
        padding: 0px 20px;
    }
}